body {
    background: #dbd8db;
    position: relative;
}

main {
    margin-top: 10px;
    text-align: center;
    position: center;
    top: 50%;
    left: 50%;

    width: 330px;
}

.photo img{
    margin: 0 auto 14px;
    width: 200px;
    height: 200px;
    padding: 5px;
    
    border-radius: 50%;
    border: 2px solid rgb(149, 118, 190);
    box-sizing: border-box;
    animation: fromTop .7s backwards .3s;
}

.photo img:hover{
    transform: scale(1.1);
}

.photo p{
    color: #060507;
    animation: fromLeft .7s backwards .3s;
}

.links-list{
    margin: 30px 0 60px
}

.links-list li:nth-child(1) {
    animation: fromLeft .7s backwards .3s;
}

.links-list li:nth-child(2) {
    animation: fromRight .7s backwards .5s;
}

.links-list li:nth-child(3) {
    animation: fromLeft .7s backwards .7s;
}

.links-list li:nth-child(4) {
    animation: fromRight .7s backwards .9s;
}

.links-list li {
    font-weight: 600;
    border-radius: 5px;
    margin: 20px 0;
    text-transform: uppercase;
    border: 2px solid rgb(136, 90, 189);
}

.links-list a{
    display: block;
    padding: 5px;
    color: rgb(100, 34, 102);
}


.icon-list {
    display: flex;
    margin: 0;
}

.icon-list li:nth-child(1){
    animation: fromDown .7s backwards .3s;
}

.icon-list li:nth-child(2){
    animation: fromDown .7s backwards .5s;
}

.icon-list li:nth-child(3){
    animation: fromDown .7s backwards .7s;
}

.icon-list li:nth-child(4){
    animation: fromDown .7s backwards .9s;
}

.icon-list li:nth-child(5){
    animation: fromDown .7s backwards .9s;
}

@keyframes fromLeft {
    from {
        transform: translateX(-60px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fromRight {
    from {
        transform: translateX(60px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fromTop {
    from {
        transform: translateY(-30px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fromDown {
    from {
        transform: translateY(30px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}