* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin: 0 auto
}

ul {
    list-style: none;
}

/*z-index:2;*/

body * {
    font-family: 'Poppins', sans-serif;
    line-height: 160%;
}


body {
    background: #E5E5E5;
    width: 1440px;
    height: 1024px;

}

main {
    max-width: 580px;
    width: 90%;
    margin: auto;

    display: grid;
    gap: 24px;

    margin-top: 32px;
}


section div img {
    box-sizing: border-box;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    left: 619px;
    top: 207px;

    margin: auto;
    display: grid;
    margin-top: 207px;

    border: 2px solid #BB99DD;
}

section div p {
    box-sizing: border-box;
    width: 99px;
    height: 24px;

    font-weight: 300;
    font-size: 16px;
    line-height: 24px;

    margin-top: 20px;
    text-align: center;

    color: #BB99DD;
}

.retangulo li {
    box-sizing: border-box;

    margin-top: 24px;
    width: 326px;
    height: 49px;
    left: 556px;
    top: 486px;

    border: 2px solid #BB99DD;
    border-radius: 4px;
}

.links-list {
    position: absolute;
    width: 326px;
    height: 24px;
    left: 558px;
    bottom: 50px;

}

.links-list li {
    margin-top: 24px;
    margin-bottom: 45px;

    align-items: center;
    text-align: center;
    text-transform: uppercase;
}

.rodape ul{
    position: absolute;
    display: flex;

    width: 250px;
    left: 595px;
    bottom: -300px;
}

